/* Amirah Elgendy - Payment/Subscription CSS */ 

/* Logo CSS 
.logo {
	float: left;
	display: flex;
}
*/

/* payment css */ 
h1 {
    text-align: center;
}

.row {
    display: flex;
    text-align: center;
}

.column {
    flex: 33.33%;
    height: 500px;
    padding: 30px;
    margin: 30px;
    text-align: center;
    background-color: white; 
    border: 1px solid black;
    border-radius: 40px;

}

.payment_form {
	background-color: white;
	padding: 10px;
	width: 50%;
	margin: 20px auto;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);

}

.payment_form form .payment_box {
	margin-top: 20px;
}

.payment_form form .payment_box span {
	display: block;
	padding: 5px;
}

.payment_form form .payment_box input {
	width: 100%;
	padding: 10px;	
	border-radius: 10px; 
	border: 1px solid rgba(0,0,0,.3);
	color: darkgray;
}

.payment_form form .adjacent_box {
	display: flex;
	padding: 5px;
}

.payment_form form .adjacent_box .payment_box {
	flex: 1 1 100px;

}


/* Wellness Calendar CSS */ 
.entry_form {
	background-color: white;
	padding: 10px;
	width: 50%;
	margin: 20px auto;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);

}



/* main css */ 
body{
background:linear-gradient(96.2deg, rgb(255, 230, 112) 10.4%, rgb(255, 100, 100) 43.8%, rgb(0, 93, 219) 105.8%);
text-align: center;
/*background-image: url('HNF+.png');
background-repeat: no-repeat;*/



}

.header{
	background-color: white;
	width:350px;
	margin-left:auto;
	margin-right:auto;
	border: groove #CCCCCC 8px;
	
}

.Sign-In{
	background-color: white;
	width: 450px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:10px;
	border: groove #CCCCCC 8px;
	font-size: 20px;
	/*background: linear-gradient(96.2deg, rgb(255, 230, 112) 10.4%, rgb(255, 100, 100) 43.8%, rgb(0, 93, 219) 105.8%);*/
	opacity: 0.85;

}

.button{
	padding: 15px 32px; 
	background-color: #ADD8E6; 
	font-size: 20px; 
	border-radius: 16px;
}

.top{
	width:100%;
	height: 100px;
	background-color:#ADD8E6;
	border: groove #CCCCCC 8px;

}
.top a {
	float: left; 
	color: black;
	padding : 14px;
	font-size: 40px;
}
.top a:hover{
	background-color: white;
}
.top a.current{
	background-color: #37BCE8;
}


     footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em;
            position: fixed;
            bottom: 0;
            width: 100%;
        }



@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
} /*
body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);		
}
*/
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

	header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #555;
}


/* Logo CSS */
.logo {
	float: left;
	display: flex;
}