body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background:linear-gradient(96.2deg, rgb(255, 230, 112) 10.4%, rgb(255, 100, 100) 43.8%, rgb(0, 93, 219) 105.8%) /*  ombre effectbackground */
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

nav.menu {
  background-color: #f2f2f2;
  padding: 10px 0;
}

nav.menu ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav.menu ul li {
  display: inline;
  margin-right: 20px;
}

nav.menu ul li a {
  text-decoration: none;
  color: #333;
}

nav.menu ul li a:hover {
  color: #ff6699;
}

section.content {
  padding: 20px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
