header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
   background: linear-gradient(to right, #ffcc00, #ff6600);
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.workout-plan, .nutritional-goals {
    width: 48%;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}
h3 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
    line-height: 1.5;
}

button {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
}

button:hover {
    background-color: #e68a00;
}


        footer {
            background-color: #333;
    color: #fff;
            text-align: center;
              padding: 1em;
            position: fixed;
            bottom: 0;
            width: 100%;
             left: 0;
        }













